/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Fonts
 *
 **/

* {
    font: "JetBrainsMono Nerd Font Mono 10";
}

/* {
    font: "CaskaydiaCove Nerd Font Mono 10";
}

/* {
    font: "Iosevka Nerd Font 10";
}
